/* src/components/Columns/Column3/Column3.css */

.column3 {
  font-family: var(--body-font);
  padding: 20px;
}

.note-entry {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.note-entry textarea {
  width: 100%;
  padding: 10px;
  font-family: var(--body-font);
  margin-bottom: 10px;
}

.update-button {
  background-color: #5a7d7c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.update-button:hover {
  background-color: #466362;
}

.tagsClass {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tagClass {
  background-color: var(--light-grey);
  border-radius: 15px;
  padding: 5px 10px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.removeClass {
  margin-left: 5px;
  cursor: pointer;
}

.search-container {
  margin-bottom: 10px;
}

.note-search {
  width: 100%;
  padding: 8px;
  border-radius: 15px;
  border: 1px solid #aaa;
}

.category-item {
  background-color: #f9f9f9;
  margin-bottom: 15px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 10px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes-list {
  margin-top: 10px;
}

.note-item {
  background-color: #fff;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 5px;
}

.note-actions {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.note-actions select {
  margin-right: 10px;
}

.note-actions button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.tags .tag {
  background-color: var(--light-grey);
  border-radius: 15px;
  padding: 5px 10px;
  margin-right: 5px;
  display: inline-block;
}

.add-category {
  display: flex;
  margin-top: 10px;
}

.add-category input {
  flex: 1;
  padding: 8px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #aaa;
  box-sizing: border-box;
  height: 40px;
}

.add-category button {
  width: 40px;
  padding: 0;
  border: 1px solid #aaa;
  background-color: #5a7d7c;
  color: #fff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  height: 40px;
}

.add-category button:hover {
  background-color: #466362;
}

.save-template-button {
  margin-top: 10px;
  background-color: var(--brown);
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
